{% extends 'analytics/base.html' %}
{% load i18n %}
{% load static %}

{% block content %}

    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-6">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-header-title">{% trans 'Analytics Dashboard' %}</div>
                        </div>
                        <div class="card-content content">
                            <ul>
                                {% for entity in entities %}
                                    <li>{{ entity.name }}
                                        <a href="{{ entity.get_anal_dashboard_url }}"
                                           class="button is-small is-primary">{% trans 'View' %}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

{% endblock %}