{% extends 'django_ledger/base.html' %}
{% load i18n %}
{% load static %}
{% load django_ledger %}


{% block content %}
    <section class="section">
        <div class="container">

            {# SIDE MENU #}
            <div class="columns">
                {% if not hide_menu %}
                    <div class="column is-3 is-hidden-mobile is-hidden-tablet-only">
                        <div style="border-radius: 2rem; border: 1px solid #6E8192;" class="pb-5 pl-5 pt-5">
                            <div class="columns is-multiline">
                                <a class="column is-12" href=" {% url 'ledger:home' %}"><h2>Home</h2></a>
                                <a class="column is-12" href=" {% url 'upload-plugin' %}"><h2>Upload Plugin</h2></a>
                                <a class="column is-12" href="{% url 'all-plugins' %}"><h2>All Plugins</h2></a>
                                {% for plugin in plugins %}
                                    {% if plugin.active %}
                                        <a class="column is-12" href="{{ plugin.getEntryPoint }} ">
                                            <h2>{{ plugin.name }}</h2></a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="columns is-multiline">
                    <div class="column is-6-tablet">
                        <div style="padding: 1.5rem">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form }}
                                <button type="submit" style="padding: 0.5rem 2rem 0.5rem 2rem; margin-top: 2rem;
                                 border-radius: 2rem; background: white">Upload
                                </button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}