{% extends 'django_ledger/base.html' %}
{% load i18n %}
{% load static %}
{% load django_ledger %}

{% block content %}
    <section class="section">
        <div class="container is-fluid p-0">
            Hi, Welcome to RESTAPI plugin. The plugin represents a simple rest api that can be used for retrieving data.
            The API has only one endpoint i.e.<br><br>
            <strong>restapi/entity/</strong>
            <br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;for retrieving information related to entities in application
            <br><br><br><br>
            <a href="{% url 'ledger:home' %}">Back</a>
        </div>
    </section>
{% endblock %}